
<section>

    <nav aria-label="breadcrumb shadow">
      <ol class="breadcrumb d-flex justify-content-between">
        <div class="mb-0">
          <p class="h2" style="color: #6610f2">Dashboard</p>
        </div>
        <div class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>
        </div>
      </ol>
    </nav>
  
  
  
    <div class="col-lg-12 mt-3">
      <div class="row">
        <div class="col-lg-6 mb-3">
          <div class="card shadow">
            <div class="card-body">
              <h4>Bar Chart</h4>
              <!-- <canvas id="barchart"></canvas> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card shadow">
            <div class="card-body">
              <h4>Pie Chart</h4>
              <!-- <canvas id="piechart"></canvas> -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>
  
  