<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse shadow">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
  
              <a class="nav-link " aria-current="page"  [routerLink]="['/dashboard/index']" [routerLinkActive]="['active']">
                <i class="fa-solid fa-house"></i>
                <span class="ml-2"> Dashboard</span>
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/transaction/list']" [routerLinkActive]="['active']">
                <i class="fa-solid fa-user-tie"></i>
                <span class="ml-2"> Transaction</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/transaction/history']" [routerLinkActive]="['active']">
                <i class="fa-solid fa-user-tie"></i>
                <span class="ml-2"> History</span>
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/product/list']" [routerLinkActive]="['active']">
                <i class="fa-solid fa-user-plus"></i>
                <span class="ml-2"> Products</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/category/list']" [routerLinkActive]="['active']">
                <i class="fa-solid fa-user-plus"></i>
                <span class="ml-2"> Category</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/user/index']" [routerLinkActive]="['active']">
                <i class="fa-solid fa-user-plus"></i>
                <span class="ml-2"> User</span>
              </a>
            </li>
  
  
          </ul>
    </div>
  </nav>
  